@media (max-width: 450px) {

    
    body{
        height: 100vh;

    }
    
    header{
 
        flex-direction: column;
        gap: 5px;

     
    }
    
    main{
        padding: 20px;
        height: calc(100vh - 120px) ;
    }
    
    form{
        width: 100%;
    }

    .input-info h1, .output-info h1{
        font-size: 15px;
    }
    
    footer{
        border-top: 20px;
        flex-direction: column-reverse;
    }

    footer p{
        font-size: 8px;
    }

}